<%@ taglib uri="http://tag.cramer.com/webreports/report" prefix="report" %>
<%@ taglib uri="http://java.sun.com/jstl/core" prefix="c" %>
<%@ taglib uri="http://tag.cramer.com/webframework/display" prefix="display" %>
<%@ taglib uri="http://tag.cramer.com/webframework/clientframework"  prefix="framework" %>
<%@ taglib uri="http://tag.cramer.com/webframework/inventory"  prefix="cramer" %>
<%@page language="java" import="com.cramer.web.framework.taglib.clientframework.URLManipulator" %>	
<%@ page import="java.util.*" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
</head>
<script type="text/javascript">

 var capaMensaje = 'mensaje';
 var capaOn = 'mainResult';
 //var capaOn = 'mensaje';   

 
 var sessionId = '<%= session.getId()%>';
 var contextPath = '<%= request.getContextPath()%>';

function seleccionarTodo () {	
    //alert("Entra en seleccionarTodo");
	var esChequeado = document.getElementById('modificaTodo').checked;
	var elementos = document.getElementsByName("modificado");
	//alert("Hay " + elementos.length + " elementos con el nombre 'modificado'");
	
	var texto="";
	var nombreId ="";
	var valorNum ="";
	if(esChequeado){
	  for (x=0;x<elementos.length;x++){
	   nombreId ="modifica";
	   //alert("nombreId es: "+nombreId);
	   texto = texto + elementos[x].value + "\n"; 
	   valorNum = elementos[x].value;
	   //alert("valorNum_"+x+"_ es: "+valorNum);
	   nombreId=nombreId+valorNum;
	   //alert("nombreId+valorNum es: "+nombreId);
	   // alert("nombreId es: "+document.getElementById(nombreId).checked);
	   if(!document.getElementById(nombreId).checked){
	      //alert("se chequea ");
          document.getElementById(nombreId).checked=true; 		  
	   }
	 }
	}else{
	   for (x=0;x<elementos.length;x++){
	   nombreId ="modifica";
	   //alert("nombreId es: "+nombreId);
	   texto = texto + elementos[x].value + "\n"; 
	   valorNum = elementos[x].value;
	   //alert("valorNum es: "+valorNum);
	   nombreId=nombreId+valorNum;
	   //alert("nombreId+valorNum es: "+nombreId);
	   if(document.getElementById(nombreId).checked){
	      //alert("se deschequea ");
          document.getElementById(nombreId).checked=false; 		  
	  }
	}
	   
  }
		
}

function seleccionarUno (id) {
	nombreId ="modifica";
	nombreId=nombreId+id;
}

function agrupaDesagrupa(objeto, proceso, tipoCircuito){        
		var accion = 'GestionTimeslots.do?';
		var ocupacion = '<c:out value="${ocupacion}"/>';
		//-- recogemos en un array el nº de elementos con el tag modificado
		var elementos = document.getElementsByName("modificado");
		var num=0;
		var pos=0;
		var tipo=objeto;//58856;
		var vector= new Array();
		var texto="";
	    var nombreId ="";
		var valorEnvio="";
	    var valorNum ="";
		for (x=0;x<elementos.length;x++){
			nombreId ="modifica";
			texto = texto + elementos[x].value + "\n"; 
			valorNum = elementos[x].value;
			nombreId=nombreId+valorNum;
			if(document.getElementById(nombreId).checked){
			   num = num+1;
               valorEnvio= valorEnvio+valorNum+",";		
               vector[pos]=valorNum;			   
			   pos= pos +1;
			}
       	}
	   accion=accion+'<%=refreshQueryString%>'+'&accion='+proceso+'&tipoCircuito='+tipoCircuito+'&ocupacion='+ocupacion+'&objetoID='+objeto+'&vector='+vector;
	   
	   document.getElementById('mensaje').innerHTML ="";
	   var xhrArgs = {    
             handleAs: "text",
             preventCache: true,
             url: accion,
			 load: function(data) {    
			         dojo.byId('datos').innerHTML = data;  
					 callStopBusyIndicator(); 
            },
            error: function(error) {
                    callStopBusyIndicator();
                }
    
     }
     dojo.byId("mensaje").innerHTML = "";
     callStartBusyIndicator();
     var deferred = dojo.xhrPost(xhrArgs);		
	
}

 </script>
 <body>
   <br>
   <p>Esto es una Prueba</p>  	
   
   
   
 </body>

</html>